<form [formGroup]="myForm">

    Value: {{ myForm.value | json }}

    <hr>

    <mat-form-field>
        <input matInput placeholder="email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="your message..." formControlName="message"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-select formControlName="career" placeholder="career">
            <mat-option value="Magician">Magician</mat-option>
            <mat-option value="Clown">Clown</mat-option>
            <mat-option value="Juggler">Juggler</mat-option>
        </mat-select>
    </mat-form-field>

</form>