/* You can add global styles to this file, and also import other style files */
.content {
    text-align: center;
    padding: 10vh 15vw;
}

body {
    font-family: "sofia-pro",sans-serif;
}

h1, h2, h3 {
    font-weight: bold;
}